header{
	border: 3px outset rgb(240, 236, 24);
	background-color:rgb(0, 195, 255);
    text-align: center;
    border-radius: 10px;
    padding-left: 5px;
    display: grid;

}

.motto_h{
    background-color: rgb(208, 255, 0);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: rgb(83, 103, 219);
}
.motto_h:hover{
    background-color: rgb(238, 240, 128);
    border: 1px solid rgb(33, 5, 87);
    border-radius: 10px;
}

.image_h{
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgb(200, 255, 0);
    border-radius: 10px;
    width: 30%;

}

.divcentral{
    border: 3px solid blue;
    border-radius: 10px;
	background-color: rgb(241, 240, 143);	
	display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    
}

.divsecundar{
	background-color: rgb(0, 195, 255);
	color: white;
    border: 1px solid blue;
    border-radius: 10px;
    grid-column: 1/3;
    grid-row: 1/2;
    display:flex;
    justify-content: center;
	
}

.list_secundar{
    display:inline;
    padding: 0px 100px 0px 0px;
}

.link_secundar{
    font-size: 30px;
    color:darkblue;
}

.link_secundar:hover{
    background-color: rgb(232, 240, 128);
    border: 1px solid rgb(42, 8, 194);
    border-radius: 10px;

}

.divprincipal{
	background-color: rgb(0, 195, 255);
	color: white;
    border: 1px solid blue;
    border-radius: 10px;
    grid-column: 3/4;
    grid-row: 1/4	
}

.list_principal{
    text-align: center;
    list-style-type: none;
    font-size: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 40px;
}

.ulprincipal{
    padding-top: 110%;
    padding-bottom: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.link_principal{
    font-size: 30px;
    color: darkblue;
}

.link_principal:hover{
    background-color:  rgb(232, 240, 128);
    border: 1px solid rgb(42, 8, 194);
    border-radius: 10px;
}


.div_photos{
    display:flex;
    background-color: rgb(245, 169, 82);
    grid-column: 1/3;
    grid-row: 2/4;
    flex-wrap: wrap;
    border: 1px solid blue;
    border-radius: 10px;
    justify-content: center;
     
}

.img{

    width:500px;
    height:300px;
    margin-top: 10px;
    margin-left:100px;
    margin-right: 100px;
}

.img:hover{

    width:600px;
    height: 400px;
    border: 3px solid blue;
    border-radius: 10px;
}

footer{
    border: 3px solid blue;
    border-radius: 10px;
	background-color:  rgb(232, 240, 128);
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
	
}

@media(max-width: 1000px){
    .img{
        width: 200px;
        height: 100px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }

    .link_secundar{
        font-size: 15px;
    }

    .list_secundar{
        padding: 0px 50px 10px 0px;
        display:list-item;
        list-style-type: none;
    }

}
